body {
	padding: 0px;
	margin: 0px;
	font: 18px MS euphemia;
	color: #000066;
//red green blue
}
div#foot, div#head, div#wrapper {
	width: 1000px;
	clear:both;
	position: relative;
	background-color: #fff;
}
div#wrapper {
	margin: 0px auto 10px auto;
	border: 0;
}
/** Header content starts here **/
div#head {
	left:0px;
	height:316px;
	top: 0px 0px ;
	vertical-align:baseline;
	
}
body{
	font: 18px MS euphemia ;
	font-weight:bold;
	
}
div#topbar {
	position: fixed;
	top: 0px 0px;
	width: 1000px;
	height: 60px;
	opacity:0.5;
	background-color: #143377;
}
div#topname {
	position: fixed;
	top: 0px 0px;
	width:300px;
	height: 60px;
	display:block;
	color: #fff;
	padding: 15px 20px;
	font: 26px MS euphemia ;
	font-variant: small-caps;
}
ul 
{
 	background-color:#143377
	margin: 0px 0px;
	padding: 0px 0px;
	font: 18px MS euphemia ;
	font-weight:bold;
	font-variant: small-caps;
	display: block;
}
li {
	list-style: none;
	margin: 0;
	color:#fff;
	display: block;
	float:right;
	width: 20%;
	text-align:center;
	text-decoration: none;
	padding: 0px 0px 5px 0px;
}
a:link, a:visited, a:hover, a:active {
    font: 18px MS euphemia ;
	font-weight:bold;
	font-variant: small-caps;
	text-decoration: none;
	color: #ccc;
}
a:hover {
	color: #fff;
}

/** Body content starts here **/
div#mission, div#inspiration, div#contact, div#team{
	text-align: center;
	width: 80%;
	font: 20px MS euphemia;
	color:#666;
	padding: 60px 100px 50px 100px;
}
/** Team info**/
div#teampics{ 
	display:block;
	background:#fff;
	height: 400px;
}

.teampic {
	height:210px;
	width: 33%;
	float:left;
	text-align:center;
	font: 13px MS euphemia;
	border-radius: 7px 7px 0px 0px ;
}

div#teampics img {
	padding: 10px 41px;	
	height:150px;
}

div#teampics .name{
	font: 18px MS euphemia;
	display: block;
	padding: 0 5px;
}
div#teampics .title{
	display:block;
	font: 13px MS euphemia;
	padding: 0 5px;
}

.bio{
	display:block;
	font: 15px MS euphemia;
	color: #002b5c;
	
	padding: 10px 10px;
	border-radius:  0px 0px 7px 7px;
}
div#biobox{
    width: 500px;
    height: 200px;
    background-color: #fff;
    color: #111;
    text-align: center;
    padding: 20px 20px;
    top: 20%;
    left: 50%;
    margin-left:-250px;
    position: fixed;
    z-index: 1;
    border-style: solid;
    border-radius: 7px;

}
.teampic:hover{
	color:#002b5c;
	background: #eee;
}

 div#team, div#mission{
	display:block;
}
 div#contact{
	background: #6699cc;
	color:#fff;
	display: block;
}



